body {
    margin: 0;
    padding: 0;
}

.index-page {
    min-height: 2000px;
}
 
.header {
    padding-top: 45px;

    .nav-dummy {
        padding: 1rem 5rem 1rem 5rem;
    
        position: relative;
    
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        opacity: 0;
    }
}

.nav-bar {
    padding: 1rem 5rem 1rem 5rem;

    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    z-index: 999;
    min-width: calc(768px - 10rem);
}

.sticky {
    position: fixed;
    width: calc(100% - 10rem);
    top: 0;
    left: 0;

    background-color: white;
    box-shadow: 0 0 1px hsla(218, 50%, 10%, 0.1), 0 4px 11px hsla(218, 50%, 10%, 0.1);
    -webkit-box-shadow: 0 0 1px hsla(218, 50%, 10%, 0.1), 0 4px 11px hsla(218, 50%, 10%, 0.1);
}


.nav-bar-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

.logo {
    display: flex;
    align-items: flex-start;
    
    text-decoration: none;
}

.logo-img {
    width: 40px;
    height: auto;
}

.logo-text {
    color: black;

    font-size: 40px;
    font-weight: bold;
    font-family: "Jua";
}

.nav-button {
    border: none;
    background-color: transparent;

    font-family: "Public Sans", sans-serif;
    font-size: 18px;
    margin: 0 1rem 0 1rem;

    cursor: pointer;
}

.dropdown-button-container {
    position: relative;

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        top: 140%;
        width: 200%;

        border-radius: 0.5rem;

        padding: 1rem;

        box-shadow: 0 0 0 1px hsla(218, 50%, 10%, 0.1), 0 4px 11px hsla(218, 50%, 10%, 0.1), 0px -5px 35px -20px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0 0 0 1px hsla(218, 50%, 10%, 0.1), 0 4px 11px hsla(218, 50%, 10%, 0.1), 0px -5px 35px -20px rgba(0,0,0,0.75);
        z-index: 10;

        left: 0;

        .dropdown-pointer {
            border: solid 0.5rem transparent;
            border-bottom: solid 0.5rem white;

            width: 0;
            height: 0;

            position: relative;
            top: -32px;
            left: 13.5%;
        }
    }
}

.nav-button:hover~.dropdown-content {
    display: block;
}

.dropdown-button-container:hover {
    .dropdown-content {
        display: block;
        cursor: pointer;
    }
}

.buttons-container {
    margin-top: 2rem;
    height: 30px;
    width: 100%;

    display: flex;
    flex-direction: row;
}

.button1 {
    color: rgba(71, 126, 232, 0.7);
    border: solid 2px rgba(71, 126, 232, 0.7);
    border-radius: 500px;

    padding: 0.5rem 2rem 0.5rem 2rem;

    font-family: 'Public Sans', sans-serif;
    font-size: 1rem;
    font-weight: bold;

    background-color: transparent;
    cursor: pointer;

    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);

    position: relative;
    overflow: hidden;
}

.button1:hover {
    background-color: transparent;
    color: white;
}

.button1:hover:before {
    left: 0%;
    width: 100%;
    right: auto;
}

.button1:before {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 120%;
	width: 0;
	z-index: -1;
	content: '';
	background: rgba(71, 126, 232, 0.7);
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

.landing-banner {
    padding: 0 5rem 0 5rem;
    display: flex;
    justify-content: flex-start space-evenly;
    flex-wrap: wrap;
}

.landing-section {
    display: flex;
    flex-direction: column;
}

.landing-header {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin: 2rem 0 2rem 0;
}


.book-feature {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.book-cover {
    width: 160px;
    height:220px;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.book-details {
    color: white;
    width: 10rem;
    font-size: 13px;
}

.books {
    height: 100vh;
    min-height: 100vh;
    box-sizing: border-box;
    min-width: 768px;
}

.books-content {
    padding: 2rem 5rem 0 5rem;
    background-color: #eee;
    height: calc(100% - 2rem - 127px);
}

.book-card {
    box-shadow: 0 0 1px hsla(218, 50%, 10%, 0.1), 0 4px 11px hsla(218, 50%, 10%, 0.1);
    -webkit-box-shadow: 0 0 1px hsla(218, 50%, 10%, 0.1), 0 4px 11px hsla(218, 50%, 10%, 0.1);

    padding: 20px;

    border-radius: 1rem;

    background-color: white;
    margin: 1rem;
    cursor: pointer;
}

.book-card:hover {
    box-shadow: 0 0 1px hsla(218, 50%, 10%, 0.1), 0 4px 11px hsla(218, 50%, 10%, 0.5);
    -webkit-box-shadow: 0 0 1px hsla(218, 50%, 10%, 0.1), 0 4px 11px hsla(218, 50%, 10%, 0.5);
}

.book-card-title {
    font-family: "Public Sans", sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.book-card-author {
    font-family: "Public Sans", sans-serif;
    font-size: 15px;
}

.search-box {
    font-size: 20px;
    padding: 0.5rem;
    padding-left: 50px;
    border-radius: 20px;
    width: 400px;

    background-image: url("/assets/search.png");
    background-repeat: no-repeat;
    background-position: 1rem center;
    background-size: 20px;
}

.book-page-content {
    background-color: #eee;
    min-height: calc(100vh - 127px);

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 768px;
}

.reader-header {
    padding: 0.5rem 5rem 0.5rem 2rem;

    position: fixed;
    width: calc(100% - 7rem);
    top: 0;
    left: 0;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    background-color: white;

    box-shadow: 0 0 1px hsla(218, 50%, 10%, 0.1), 0 4px 11px hsla(218, 50%, 10%, 0.1);
    -webkit-box-shadow: 0 0 1px hsla(218, 50%, 10%, 0.1), 0 4px 11px hsla(218, 50%, 10%, 0.1);

    z-index: 99999;
}

.reader-header-column {
    font-family: 'Public Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.reader-setting {

    position: absolute;

    top: 100%;
    left: 0;

    width: 300px;
    height: 150px;

    background-color: white;
    border-radius: 13px;

    border: solid 1px #ccc;

    margin: 0.5rem;
    
    padding: 1rem;

    z-index: 1;
}

.setting-header {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.menu-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-right: 1rem;
}

.menu-settings {
    display: flex;
    flex-direction: column;

    z-index: 2;
}

.menu-settings-content {
    margin: 0.5rem;

    display: flex;
    flex-direction: column;
}

.menu-settings-section {
    margin: 0.5rem;

    display: flex;
}

.menu-blanket {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;

    /* background-color: hsla(218, 50%, 10%, 0.1); */
}

@media (max-width: 768px) {
    #book-buttons {
        display: none;
    }

    #book-details {
        font-size: 15px;
    }

    .books-content {
        padding: 1rem;
    }
}

#scroll-nav {
    background: linear-gradient(to right, #003738 0%, #003738 0%, #fff 0%, #fff 100%);
    border: solid 1px #003738;
    border-radius: 8px;
    height: 7px;
    width: 60%;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background: #003738;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type=range]::-moz-range-thumb {
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background: #003738;
    cursor: pointer;
  }

  input[type=range]::-ms-thumb {
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background: #003738;
    cursor: pointer;
  }