.reader {
    background-color: #eee;
}

.reader-header-column {
    font-family: 'Public Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.reader-content {
    width: 100%;

    display: flex;
    justify-content: center;
}

.reader-page {
    max-width: 100%;
    max-height: 100%;

    position: relative;

    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;

    font-size: 19px;

    z-index: 0;

    transition: 0.3s ease-in-out;
}

.reader-page-container {
    background-color: white;
    width: 800px;
    height: 600px;

    margin: 5rem 5rem 0 5rem;

    padding-top: 1rem;
    padding-bottom: 1rem;

    overflow: hidden;
}

.reader-paragraph {
    margin: 0;
    padding: 0;

    text-align: left;

    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.reader-navigator {
    position: fixed;

    bottom: 0;
    left: 0;

    width: calc(100% - 2rem);
    min-height: 3rem;

    border-radius: 10px;
    background-color: white;

    margin: 1rem;

    cursor: pointer;
    border: solid 1px #ccc;

    transition: 0.2s ease;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.reader-scroll {
    width: 60%;
}

.reader-nav-arrow {
    border: solid 0.5rem transparent;
    border-bottom: solid 1rem #003333;

    margin-left: 1rem;
    margin-right: 1rem;

    width: 0;
    height: 0;
}

.left {
    transform: rotate(-90deg);
}

.right {
    transform: rotate(90deg);
}

.reader-scrollbar {
    position: relative;
    z-index: 1;
    background-color: #ccc;
    border-radius: 200px;
    width: 30%;
    min-height: 10px;

    display: flex;
    align-items: center;
}

.reader-thumb {
    height: 23px;
    width: 23px;
    max-height: 23px;
    max-width: 23px;
    background-color: #777;
    border-radius: 200px;

    padding: 3px;

    z-index: 2;
    position: absolute;
    opacity: 1;

    color:white;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 15px;
    font-family: "Public Sans", sans-serif;
}

.reader-jump {
    position: relative;
}

@media (max-width: 800px) {
    .reader-paragraph {
        margin: 0.5rem 1rem 0.5rem 1rem;
    }

    .reader-nav-arrow {
        border-bottom: solid 2rem #003333;
    }
}